html {
  overflow-x: hidden;
  position: relative;
  height: 100%;
  background: #f5f5f5; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
  color: #4c5667;
  height: 100%;
  overflow-x: hidden !important; }

#root {
  height: 100%; }

.page-title-box {
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.03);
  padding: 20px;
  margin: -20px -20px 22px -20px; }
  .page-title-box .breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent; }

.page-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.3rem;
  float: left; }
